  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="''">voronin1040</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="'/'"
            [routerLinkActive]="'active'" 
            [routerLinkActiveOptions]="{exact:true}">
            Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"
              [routerLink]="'/purchases'"
              [routerLinkActive]="'active'" 
              [routerLinkActiveOptions]="{exact:true}">
              Все покупки<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="'/purchases/edit'"
            [routerLinkActive]="'active'" 
            [routerLinkActiveOptions]="{exact:true}">
            Добавить покупку<span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </nav>
  